.container {
    width: 1440px;
    height: 875px;
    background: url(http://127.0.0.1:8000/storage/images/image25.png);
}

.header {
    position: absolute;
    width: 1440px;
    height: 91px;
    left: 0px;
    top: 0px;

    background: linear-gradient(90deg, #F7F9FA 21.39%, rgba(247, 249, 250, 0) 100%);
}

.frame {
    position: absolute;
    left: 6.94%;
    right: 81.6%;
    top: 24.18%;
    bottom: 23.08%;
}

.rec {
    position: absolute;
    width: 1440px;
    height: 4px;
    left: 0px;
    top: 91px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    background: linear-gradient(90deg, #BF1443 -0.66%, #E7809C 102.4%);
}

#footer{
    position: absolute;
    width: 1440px;
    height: 201px;
    left: 0px;
    top: 674px;
    background: url(http://127.0.0.1:8000/storage/images/footer.png)
}
