<template>
  <div id="app">
      <div>
          <p>header</p>
      </div>
      <router-view></router-view>
      <div>footer</div>
  </div>

</template>

<script>
export default {
  name: 'App'
}
</script>

<style>
</style>
