<template>
    <div>
        <master-layout>
            <!--    start    content-->
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <!-- post view -->
                        <div class="post-preview" v-for="post in posts" :key="post.id">
                            <router-link :to="{name: 'BlogDetail', params: { id: post.id }}">
                                <h2 class="post-title">{{post.title}}</h2>
                                <h3 class="post-subtitle">{{post.content}}</h3>
                            </router-link>
                            <p class="post-meta">
                                Posted by
                                <a href="#!" >{{post.user_id}}</a>
                                <br>
                                <span>{{post.updated_at}}</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </master-layout>
    </div>
</template>

<script>
import MasterLayout from "../../../../../../resources/js/src/components/MasterLayout";

export default {
    name: "BlogIndex",
    components: {
        MasterLayout,
    },
    data() {
        return {
            posts: [],
            email: '',
            updated_at:'',
        }
    },
    created() {
        let uri = 'http://127.0.0.1:8000/api/post/index';
        this.axios.get(uri).then(response => {
            this.posts = response.data;
        });
    },
    methods: {
        deletePost(id) {
            if (confirm('are you sure ?') === true) {
                let uri = `http://127.0.0.1:8000/api/post/delete/${id}`;
                this.axios.delete(uri).then(response => {
                    this.posts.splice(this.posts.indexOf(id), 1);
                });
            }
        },
        getUser(id){
            let uri = `http://127.0.0.1:8000/api/user/profile/${id}`;
            this.axios.get(uri).then(response=>{
                this.user_name = response;
            })
        }
    }
}
</script>

<style scoped>
/* Style The Dropdown Button */
.dropbtn {
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #a6d5a8;
}
</style>
