<template>
    <div>
        <p>Detail</p>
        <p>{{post.title}}</p>
        <p>{{post.content_post}}</p>
    </div>
</template>

<script>
export default {
    name: "BlogDetail",
    data(){
        return{
            post:{}
        }
    },
    created() {
        let uri = `http://127.0.0.1:8000/api/post/detail/${this.$route.params.id}`;
        this.axios.get(uri).then((response) => {
            this.post = response.data;
        });
    }
}
</script>

<style scoped>

</style>
