<template>
    <div style="width: 80%;margin-left: 10%;margin-right: 10%">
<p>blog create</p>
    <form @submit.prevent="addPost">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">title</label>
            <input v-model="post.title" type="text" class="form-control" id="exampleFormControlInput1" placeholder="abc...">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Content</label>
            <textarea v-model="post.content_post" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div>
            <button class="btn btn-primary">Create</button>
            <router-link class="btn btn-secondary" to="/blog/index">Back</router-link>
        </div>
    </form>
    </div>
</template>

<script>
import BlogIndex from "./BlogIndex";

export default {
    name: "BlogCreate",
        data(){
            return {
                post:{}
            }
        },
        methods: {
            addPost(){
                let uri = 'http://127.0.0.1:8000/api/post/create';
                this.axios.post(uri, this.post).then((response) => {
                    this.$router.push({name: 'posts'});
                    this.$router.push(BlogIndex);
                });
            }
        }
}
</script>

<style scoped>
body {
    font-family: Arial;
    padding: 20px;
    background: #f1f1f1;
}

/* Header/Blog Title */
.header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: white;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
    float: left;
    width: 75%;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
}

/* Fake image */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {
        width: 100%;
        padding: 0;
    }
}
</style>
