<template>
    <div>
        <p>Blog edit</p>
        <form @submit.prevent="updatePost">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">title</label>
                <input v-model="post.title" type="text" class="form-control" id="exampleFormControlInput1"
                       placeholder="abc...">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Content</label>
                <textarea v-model="post.content_post" class="form-control" id="exampleFormControlTextarea1"
                          rows="3"></textarea>
            </div>
            <div>
                <button class="btn btn-primary">update</button>
            </div>
        </form>
    </div>
</template>

<script>
import BlogIndex from "./BlogIndex";

export default {
    name: "BlogEdit",
    data() {
        return {
            post: {
                title:'',
                content:''
            }
        }
    },
    created() {
        let uri = `/api/post/edit/${this.$route.params.id}`;
        this.axios.get(uri).then((response) => {
            this.post = response.data;
        });
    },
    methods: {
        updatePost()
        {
            let uri = `http://127.0.0.1:8000/api/post/update/${this.$route.params.id}`;
            this.axios.post(uri, this.post).then((response) => {
                this.$router.push({name: 'posts'});
                this.$router.push(BlogIndex);
            });
        }
    },
}
</script>

<style scoped>

</style>
