<template>
   <div style="width: 80%;margin-left: 10%;margin-right: 10%">
                <p>Category edit</p>
                <form @submit.prevent="updateCategory" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="Input1" class="form-label">Name</label>
                        <input v-model="category.name" type="text" class="form-control" id="Input1"
                               placeholder="abc...">
                    </div>
                    <div class="mb-3">
                        <label for="Input2" class="form-label">Image</label>
                        <input name="image" v-on:change="onImageChange" type="file" class="form-control" id="Input2">
                    </div>
                    <div>
                        <button class="btn btn-primary">Create</button>
                        <router-link class="btn btn-secondary" to="/category/index">Back</router-link>
                    </div>
                </form>
            </div>
</template>

<script>
import CategoryIndex from "./CategoryIndex";

export default {
    name: "CategoryEdit",
     data() {
        return {
            category: {
                name:'',
                image:''
            }
        }
    },
    created() {
        let uri = `/api/category/edit/${this.$route.params.id}`;
        this.axios.get(uri).then((response) => {
            this.category = response.data;
        });
    },
    methods: {
        onImageChange(e) {
            let files = e.target.files;
            if (!files.length)
                return;
            this.createImage(files[0]);
        },
        createImage(file) {
            let reader = new FileReader();
            let vm = this;
            reader.onload = (e) => {
                vm.category.image = e.target.result;
            };
            reader.readAsDataURL(file);
        },
        updateCategory()
        {
            let uri = `http://127.0.0.1:8000/api/category/update/${this.$route.params.id}`;
            this.axios.post(uri, this.category).then((response) => {
                this.$router.push({name: 'category'});
                this.$router.push(CategoryIndex);
            });
        }
    },
}
</script>

<style scoped>

</style>
