<template>
    <div>
        <header>
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-light bg-white">
                <div class="container-fluid">
                    <button
                        class="navbar-toggler"
                        type="button"
                        data-mdb-toggle="collapse"
                        data-mdb-target="#navbarExample01"
                        aria-controls="navbarExample01"
                        aria-expanded="false"
                        aria-label="Toggle navigation"
                    >
                        <i class="fas fa-bars"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarExample01">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item active">
                                <a class="nav-link" aria-current="page" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <div class="dropdown">
                                    <a class="nav-link dropbtn"><router-link to="/category/index">Category</router-link></a>
                                    <div class="dropdown-content">
                                        <router-link to="/category/create">Create</router-link>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item">
                                <div class="dropdown">
                                    <a class="nav-link dropbtn"><router-link to="/blog/index">Blog</router-link></a>
                                    <div class="dropdown-content">
                                        <router-link to="/blog/create">Create</router-link>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">About</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Navbar -->

            <!-- Jumbotron -->
            <div class="p-5 text-center bg-light">
                <h1 class="mb-3">Category</h1>
            </div>
            <!-- Jumbotron -->
        </header>

        <!--    start    content-->
        <table class="table table-hover">
            <thead>
            <tr>
                <th>name</th>
                <th>image</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="category in categories" :key="category.id" >
                <td></td>
                <td>{{ category.name }}</td>
                <td>
                    <div id="category-image" class="col-md-3" v-if="category.image">
                    <img :src="category.image" class="img-responsive" height="70" width="90">
                    </div>
                </td>
                <td><router-link :to="{name: 'CategoryEdit', params: { id: category.id }}" class="btn btn-primary">Edit</router-link></td>
                <td><button @click.prevent="deleteCategory(category.id)" class="btn btn-danger">Delete</button></td>
            </tr>
            </tbody>
        </table>
        <!--        end content-->

        <!-- Footer -->

        <!-- Footer -->
    </div>
</template>

<script>
export default {
    name: "CategoryIndex",
    data() {
        return {
            categories: []
        }
    },
    created() {
        let uri = 'http://127.0.0.1:8000/api/category/index';
        this.axios.get(uri).then(response => {
            this.categories = response.data;
        });
    },
    methods: {
        deleteCategory(id) {
           if (confirm('are you sure ?')===true) {
                let uri = `http://127.0.0.1:8000/api/category/delete/${id}`;
                this.axios.delete(uri).then(response => {
                    this.categories.splice(this.categories.indexOf(id), 1);
                });
            }
        }
    }
}
</script>

<style scoped>
#category-image{
    padding: 0 0 0 0;
}
/* Style The Dropdown Button */
.dropbtn {
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color:  #a6d5a8;
}
</style>
