<template>
    <div>
        <p>register</p>
        <div>
            <div class="register-page">
                <div class="container">
                    <div class="top">
                        <h1 id="title" class="hidden"><span id="logo">Daily <span>BLOG</span></span></h1>
                    </div>
                    <div class="login-box animated fadeInUp">
                        <div class="box-header">
                            <h2 class="title-login">Register</h2>
                        </div>
                        <form @submit.prevent="register">
                            <label for="name">Name</label>
                            <br>
                            <input v-model="user.name" type="text" id="name">
                            <br>
                            <label for="email">Email</label>
                            <br/>
                            <input v-model="user.email" type="email" id="email">
                            <br/>
                            <label for="password">Password</label>
                            <br/>
                            <input v-model="user.password" type="password" id="password">
                            <br/>
                            <label for="confirm-password">Confirm password</label>
                            <br/>
                            <input v-model="user.confirm_password" type="password" id="confirm-password">
                            <br/>
                            <p class="error-text text-danger" v-if="message">{{ message }}</p>
                            <button>Create</button>
                            <br/>
                        </form>
                        <a href="">
                            <router-link to="/login">Login</router-link>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: "Create",
    data() {
        return {
            user: {
                name: '',
                email: '',
                password: '',
                confirm_password: ''
            },
            message: ''
        }
    },
    methods: {
        register() {
            let uri = `http://127.0.0.1:8000/api/user/register`;
            if (this.user.password !== this.user.confirm_password) {
                this.message = "The password confirmation does not match !"
            } else if (this.user.password === this.user.confirm_password) {
                this.axios.post(uri, this.user).then((response) => {
                        if (response.data.status === "success") {
                            this.$router.push(name = 'blog/index')
                        }
                        else {
                            this.message = response.data.message;
                        }
                    }
                )
            }
        }
    }
}
</script>

<style scoped>
.register-page {
    background: url(http://127.0.0.1:8000/storage/images/photo_bg.jpg) no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #666;
}
</style>
