<template>
    <div>
        <div class="login-page">
            <div class="container">
                <div class="top">
                    <h1 id="title" class="hidden"><span id="logo">Daily <span>BLOG</span></span></h1>
                </div>
                <div class="login-box animated fadeInUp">
                    <div class="box-header">
                        <h2 class="title-login" >Log In</h2>
                    </div>
                    <form @submit.prevent="login">
                    <label for="email">Email</label>
                    <br/>
                    <input v-model="user.email" type="text" id="email">
                    <br/>
                    <label for="password">Password</label>
                    <br/>
                    <input v-model="user.password" type="password" id="password">
                    <br/>
                        <p class="error-text text-danger" v-if="error">{{error}}</p>
                    <button>Sign In</button>
                    <br/>
                    </form>
                    <a href=""><router-link to="/create">Register</router-link></a>
                    <a href="#"><p class="small">Forgot your password?</p></a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    name: "Login",
    data() {
        return {
            user: {
                email: '',
                password: ''
            },
            error: ''
        }
    },
    methods: {
        login() {
            let uri = `http://127.0.0.1:8000/api/user/login`;
            this.axios.post(uri, this.user).then((response) => {
                if (response.data.status === 'success') {
                    this.user_email = response.data.email;
                    this.$router.push(name= 'blog/index')
                } else {
                    this.error = response.data.message;
                }
            });
        },
    }
}
/*$(document).ready(function () {
    $('#logo').addClass('animated fadeInDown');
    $("input:text:visible:first").focus();
});
$('#email').focus(function () {
    $('label[for="email"]').addClass('selected');
});
$('#email').blur(function () {
    $('label[for="email"]').removeClass('selected');
});
$('#password').focus(function () {
    $('label[for="password"]').addClass('selected');
});
$('#password').blur(function () {
    $('label[for="password"]').removeClass('selected');
});*/
</script>

<style scoped>
.login-page {
    background: url(http://127.0.0.1:8000/storage/images/photo_bg.jpg) no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #666;
}
</style>
