<template>
      <div class="MasterLayout">
            <div class="HeaderLayout">
                <!-- Navigation-->
                <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
                    <div class="container px-4 px-lg-5">
                        <router-link style="color: white" to="/blog/index">Blog Daily</router-link>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                            Menu
                            <i class="fas fa-bars"></i>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarExample01">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item nav-link active " >
                                    <div class="dropdown ">
                                   <router-link class="nav-link link-1 dropbtn" to="/blog/index">Home</router-link>
                                    </div>
                                </li>
                                <li class="nav-item nav-link active">
                                    <div class="dropdown">
                                        <router-link class="nav-link link-1 dropbtn" to="/category/index">Category</router-link>
                                        <div class="dropdown-content">
                                            <router-link class="link dropbtn" to="/category/create">Create</router-link>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item nav-link active">
                                    <div class="dropdown">
                                        <router-link class="nav-link link-1 dropbtn" to="/blog/index">Blog</router-link>
                                        <div class="dropdown-content">
                                            <router-link class="link dropbtn" to="/blog/create">Create</router-link>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item nav-link active">
                                    <div class="dropdown">
                                    <router-link class="nav-link link-1 dropbtn" to="">About</router-link>
                                    </div>
                                </li>
                                <li class="nav-item nav-link active-2">
                                    <div class="dropdown">
                                        <div style="color: white;">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                                        </svg>
                                        </div>
                                        <div class="dropdown-content">
                                            <router-link class="link dropbtn" to="/login">Login</router-link>
                                            <router-link class="link dropbtn" to="/create">Register</router-link>
                                        </div>
                                        <div class="dropdown-content">

                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- Page Header-->
                <header class="masthead" style="background-image: url(http://127.0.0.1:8000/storage/images/home-bg.jpg)">
                    <div class="container position-relative px-4 px-lg-5">
                        <div class="row gx-4 gx-lg-5 justify-content-center">
                            <div class="col-md-10 col-lg-8 col-xl-7">
                                <div class="site-heading">
                                    <h1></h1>
                                    <span class="subheading"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
            </div>

          <main class="LayoutDefault__main">
              <slot/>
          </main>

            <div class="FooterLayout">
                <footer class="text-center text-white" style="background-color: #caced1;">
                    <!-- Grid container -->
                    <div class="container p-4">
                        <!-- Section: Images -->
                        <section class="">
                            <div class="row">
                                <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                                    <div
                                        class="bg-image hover-overlay ripple shadow-1-strong rounded"
                                        data-ripple-color="light"
                                    >
                                        <img
                                            src="https://mdbcdn.b-cdn.net/img/new/fluid/city/113.webp"
                                            class="w-100"
                                        />
                                        <a href="#!">
                                            <div
                                                class="mask"
                                                style="background-color: rgba(251, 251, 251, 0.2);"
                                            ></div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                                    <div
                                        class="bg-image hover-overlay ripple shadow-1-strong rounded"
                                        data-ripple-color="light"
                                    >
                                        <img
                                            src="https://mdbcdn.b-cdn.net/img/new/fluid/city/111.webp"
                                            class="w-100"
                                        />
                                        <a href="#!">
                                            <div
                                                class="mask"
                                                style="background-color: rgba(251, 251, 251, 0.2);"
                                            ></div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                                    <div
                                        class="bg-image hover-overlay ripple shadow-1-strong rounded"
                                        data-ripple-color="light"
                                    >
                                        <img
                                            src="https://mdbcdn.b-cdn.net/img/new/fluid/city/112.webp"
                                            class="w-100"
                                        />
                                        <a href="#!">
                                            <div
                                                class="mask"
                                                style="background-color: rgba(251, 251, 251, 0.2);"
                                            ></div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                                    <div
                                        class="bg-image hover-overlay ripple shadow-1-strong rounded"
                                        data-ripple-color="light"
                                    >
                                        <img
                                            src="https://mdbcdn.b-cdn.net/img/new/fluid/city/114.webp"
                                            class="w-100"
                                        />
                                        <a href="#!">
                                            <div
                                                class="mask"
                                                style="background-color: rgba(251, 251, 251, 0.2);"
                                            ></div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                                    <div
                                        class="bg-image hover-overlay ripple shadow-1-strong rounded"
                                        data-ripple-color="light"
                                    >
                                        <img
                                            src="https://mdbcdn.b-cdn.net/img/new/fluid/city/115.webp"
                                            class="w-100"
                                        />
                                        <a href="#!">
                                            <div
                                                class="mask"
                                                style="background-color: rgba(251, 251, 251, 0.2);"
                                            ></div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                                    <div
                                        class="bg-image hover-overlay ripple shadow-1-strong rounded"
                                        data-ripple-color="light"
                                    >
                                        <img
                                            src="https://mdbcdn.b-cdn.net/img/new/fluid/city/116.webp"
                                            class="w-100"
                                        />
                                        <a href="#!">
                                            <div
                                                class="mask"
                                                style="background-color: rgba(251, 251, 251, 0.2);"
                                            ></div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- Section: Images -->

                    </div>
                    <!-- Grid container -->

                    <!-- Copyright -->
                    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);position: relative;bottom: 0;top:50px;margin: 0;padding: 0">
                        © 2022 Blog Daily
                    </div>
                    <!-- Copyright -->
                </footer>
            </div>
      </div>
</template>

<script>

export default {
    name: "master",
}
</script>

<style scoped>
.nav-item nav-link active-2{
    right: 15px;
}
/* Style The Dropdown Button */
.link-1{
    color: white!important;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #a6d5a8;
}
</style>
